<?xml version="1.0" encoding="utf-8"?>
<configuration>  
  <config>
    <add key="defaultPushSource" value="thegoldcube-packages" />
    <add key="repositoryPath" value="packages" />
  </config>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <packageSources>
    <add key="thegoldcube-packages" value="https://www.myget.org/F/thegoldcube/api/v2" />
  </packageSources>
  <activePackageSource>
    <add key="thegoldcube-packages" value="https://www.myget.org/F/thegoldcube/api/v2" />
  </activePackageSource>
  <disabledPackageSources>
    <add key="nuget.org" value="true" />
    <add key="nuget.org v2" value="true" />
  </disabledPackageSources>
  <packageSourceCredentials>
    <thegoldcube-packages>
        <add key="Username" value="thegoldcuberobot" />
        <add key="ClearTextPassword" value="fd35715c-142d-4de4-8e69-8e0d71b91d54" />
    </thegoldcube-packages>
</packageSourceCredentials>
</configuration>